/*.projects-section {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}*/

.project-card {
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.project-card p {
  font-size: 0.9rem;
  background-color: bg-lavender;
}