.projects-section {
  padding: 3rem 2rem;
  background-color: #160525;
  color: white;
  text-align: center;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.project-card {
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 300px;
  height: 300px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h3 {
  color: #00bcd4;
  margin-bottom: 0.5rem;
}
