.skills-section {
    padding: 6rem 4rem;
    background-color: #0B0433;
    color: white;
    text-align: center;
  }
  
  .skills-section h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .skill-item {
    background-color: #292929;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    font-weight: 500;
    color: #00bcd4;
  }
  