:root {
  --primary: #191b39;
  --accent: #8f94fb;
  --bg: #48288da0;
  --bg-soft-blue: #072e72;
  --bg-lavender: #230c38;
  --footer-dark: #2a8898;
  --text-dark: #2c3e50;
  --white: #ffffff;
  --hover-dark: #3b7f8d6d;
}

body {
  background-color: var(--bg);
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  color: var(--primary);
}

.btn-primary {
  background: var(--primary);
  border: none;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: var(--hover-dark);
}

.bg-gradient {
  background: var(--bg-soft-blue);
  color: white;
}
.bg-light-gray {
  background-color: var(--bg);
}
.bg-white {
  background-color: var(--white);
}
.bg-blue-soft {
  background-color: var(--bg-soft-blue);
}
.bg-lavender {
  background-color: var(--bg-lavender);
  color: wheat;
}
.bg-dark-footer {
  background-color: var(--footer-dark);
  color: var(--white);
}
